<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Koin Dünyası </title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header class="container">
    <div class="row">
       <h5 class="col-sm-4 text-left"> World's Heart of Market </h5>
       <h1 class="col-sm-4 text-center text-uppercase"><b>KoinDünyası</b></h1>
      
       <nav class="col-sm-4 text-right">
         <p><a>Home</a> <a>Market</a> <a>Register/Login</a></p>
      </nav>
    </div>  
  </header>
  
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
         <!-- <img src="C:\Alcatel\homecoin.jpg"/> -->
         <img src="http://minted-uk.com/wp-content/uploads/2016/09/20161203_174520_1480858647217_resized-002.jpg" height="300" width="300"/> 
      </div>
    </div>
  </section>
  
  <section class="container">
    <div class="row">
      <figure class="col-sm-6">
        <b>Bitcoin</b>
        <img src="https://cdn.worldvectorlogo.com/logos/bitcoin.svg" width="600" height="350"/>
      </figure>
      <figure class="col-sm-6">
        <b>Ethereum</b>
        <img src="https://cdn.worldvectorlogo.com/logos/ethereum.svg" width="600" height="350" />
      </figure>
    </div>
    <div class="row">
      <figure class="col-sm-6">
        <b>Monero</b>
        <img src="https://cdn.worldvectorlogo.com/logos/monero.svg" width="600" height="350"/>
      </figure>
      <figure class="col-sm-6">
        <b>Ripple</b>
        <img src="https://cdn.worldvectorlogo.com/logos/ripple.svg" width="600" height="350"/>
      </figure>
    </div>
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">
      &copy; 2018 KoinDünyası
      </p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
         <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
        </li>
        <li class="col-sm-1">
           <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </li>
        <li class="col-sm-1">
         <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
        </li>
        <li class="col-sm-1">
         <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
